@model Student

<!-- TBC Delete Modal -->
<div class="modal" tabindex"-1" id ="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Student</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete @Model.Name ?</p>
            </div>
        </div class = "modal-footer">
          <form asp-controller="Student" asp-action="DeleteConfirm" type="post">
              <input type="hidden" asp-for="Id"/>
              <input type = "submit" value="Confirm" class="btn btn-danger" />
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>
    </div>
</div>
