@model IList<Ticket>

<h3>Open Ticket List</h3>

<div class="mt-4 mb-4">
</div>

<table class="table">
      <thead>
         <tr>

         </tr>
      </thead>
      <tbody>
         @foreach(var t in Model)
         {
            <tr>
               <td>@t.Id</td>
               <td>@t.Student.Name</td>
               <td>@t.Issue</td>
               <td>@t.CreatedOn</td>
               <td>
                  <form asp-action="Close">
                     <input type="hidden" name="id" value=@t.Id />
                     <input type="submit" value="Close" class="btn btn-link"/>
                  </form>
               </td>

            </tr>
         }
      </tbody>
</table>


